<div class="warehouse-container">
  <h2>Gestione Magazzino</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Quantità Disponibile</th>
      <th>Punto di Riordino</th>
      <th>Azione</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicine of medicines">
      <td>{{ medicine.name }}</td>
      <td [class.low-stock]="medicine.availableQuantity <= medicine.reorderPoint">
        {{ medicine.availableQuantity }}
        <span *ngIf="medicine.availableQuantity <= medicine.reorderPoint" class="text-danger">
            Sotto scorta!
          </span>
      </td>
      <td>{{ medicine.reorderPoint }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="updateStock(medicine.id, 10)">Aggiorna Scorte</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
