<body>
<button class="back-button" (click)="goBack()">Indietro</button>
<div class="container">
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>ID Paziente</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Età</th>
        <th>Diagnosi</th>
        <th>Data Ricovero</th>
        <th>Stato</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.nome }}</td>
        <td>{{ patient.cognome }}</td>
        <td>{{ patient.eta }}</td>
        <td>{{ patient.diagnosi }}</td>
        <td>{{ patient.dataRicovero | date:'dd/MM/yyyy' }}</td>
        <td>
            <span [ngClass]="patient.dimesso ? 'dimesso' : 'ricoverato'">
              {{ patient.dimesso ? 'Dimesso' : 'Ricoverato' }}
            </span>
        </td>
        <td>
          <div class="action-group">
            <button class="action-btn" title="Scarica Cartella Clinica" (click)="downloadMedicalRecord(patient.id)">
              <i class="fas fa-file-download"></i>
            </button>
            <button class="action-btn" title="Somministra medicina" *ngIf="!patient.dimesso" (click)="somministraMedicina(patient.id)">
              <i class="fas fa-pills"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<footer>

  <div class="footer-bottom">
    <p>© 2025 HospitalCare. Tutti i diritti riservati.</p>
  </div>
</footer>
