<div class="admin-container">
  <h1>Pannello di Amministrazione</h1>

  <div class="notifications-section">
    <h2>Notifiche</h2>
    <ul>
      <li *ngFor="let notification of notifications">{{ notification }}</li>
    </ul>
  </div>

  <div class="crea-reparto-section">
    <h2>Crea un Nuovo Reparto</h2>
    <input [(ngModel)]="nuovoRepartoNome" placeholder="Nome del reparto" />
    <button (click)="creaReparto()">Crea Reparto</button>
  </div>

  <div class="aggiungi-utente-section">
    <h2>Aggiungi Utente a Reparto</h2>
    <input [(ngModel)]="utenteIdDaAggiungere" placeholder="ID Utente" />
    <input [(ngModel)]="repartoIdDaAggiungere" placeholder="ID Reparto" />
    <button (click)="aggiungiDottoreAReparto()">Aggiungi Utente</button>
  </div>


  <div class="assegna-capo-section">
    <h2>Assegna Capo Reparto</h2>
    <input [(ngModel)]="utenteIdCapoReparto" placeholder="ID Utente" />
    <input [(ngModel)]="repartoIdCapoReparto" placeholder="ID Reparto" />
    <button (click)="assegnaCapoReparto()">Assegna Capo</button>
  </div>
</div>
