<body>
<button class="back-button" (click)="goBack()">Indietro</button>

<div class="container">
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>ID Dottore</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Matricola</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dottore of dottori">
        <td>{{ dottore.id }}</td>
        <td>{{ dottore.firstName }}</td>
        <td>{{ dottore.lastName }}</td>
        <td>{{ dottore.email }}</td>
        <td>{{ dottore.matricola }}</td>
        <td>
          <div class="dropdown-container">
            <button class="action-btn" (click)="dottore.showReparto = !dottore.showReparto">
              Cambia Reparto
            </button>
            <select *ngIf="dottore.showReparto" (change)="cambiaRepartoDottore(dottore.id, $event)">
              <option *ngFor="let reparto of reparti" [value]="reparto.id">{{ reparto.nome }}</option>
            </select>
          </div>


          <div class="dropdown-container">
            <button class="action-btn" (click)="dottore.showFerie = !dottore.showFerie">
              Assegna Ferie
            </button>
            <select *ngIf="dottore.showFerie" (change)="assegnaFerie(dottore.id, $event)">
              <option *ngFor="let ferie of ferieDisponibili" [value]="ferie">{{ ferie }}</option>
            </select>
          </div>
          <button (click)="dottore.showTurno = !dottore.showTurno">Assegna Turno</button>

          <button class="action-btn" (click)="toggleTurnoTable(dottore.id)">Assegna Turno</button>

          <div *ngIf="dottore.showTurnoTable" class="turno-table">
            <table>
              <thead>
              <tr>
                <th>Giorno</th>
                <th *ngFor="let turno of turni">{{ turno }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let giorno of giorniSettimana">
                <td>{{ giorno }}</td>
                <td *ngFor="let turno of turni"
                    (click)="assegnaTurno(dottore.id, giorno, turno)"
                    [ngStyle]="{'background-color': getTurnoColor(dottore.id, giorno, turno)}"
                    class="turno-cell">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<footer>
  <div class="footer-bottom">
    <p>© 2025 HospitalCare. Tutti i diritti riservati.</p>
  </div>
</footer>
